<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div class="container">

  <h1>O que foi desenvolvido até aqui:</h1>

  <p>Controle de tarefas (Todo)</p>
  <p>Controle de Objetivos (Goals)</p>
  <p>Controle de Finanças (Cash)</p>


    <h2>5 das 6 Etapas do comportamento financeiro fortalecedor</h2>

    <ul>
        <li><p>Pagar-se primeiro : 5% </p></li>
        <li><p>Doar com sabedoria para quem precisa: 10% </p></li>
        <li><p>Pagar todas as contas: 60% </p></li>
        <li><p>Investir para ficar rico: 10% </p></li>
        <li><p>Poupar para os sonhos : 10% </p></li>
        
    </ul>

    <h1 class="first-title">Stack</h1>

  <p class="cst-p">Tecnologias utilizadas: </p>
  <ul class="cst-ul list-group-flush">
    <li class="cst-li list-group-item">PostgreSQL</li>
    <li class="cst-li list-group-item">Springboot</li>
    <li class="cst-li list-group-item">Java</li>
    <li class="cst-li list-group-item">Angular</li>
    <li class="cst-li list-group-item">Bootstrap</li>
  </ul>


</div>